$colors : (
    "background": black,
    "secondary-background": black,
    // "about": rgba(15, 61, 62, 1),
    "primary" : #DF7861,
    "secondary" : #00ADB5,
    "sidebar" :  rgba(26, 31, 38, .95) ,
);

$fonts : ();



@mixin neon($x: 0, $y: 0, $max-blur: 20px, $color: white) {
    text-shadow: 0 0 2px $color, 0 0 5px $color, 0 0 10px $color, 0 0 $max-blur $color;
}