@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Josefin+Sans:ital@1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rajdhani&display=swap');

html{scroll-behavior: smooth;}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: 'Rajdhani', sans-serif;
    
}

button{
    border: none;
}

.container{
    padding: 30px;
    height: 100vh;
    width: 97%;
    color: map-get($colors, secondary );
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 1300px){

  .container{
    scroll-margin-top: 7vh;
    width: 100%;
  }

}

.btn{
  transition: transform .2s ease;
}
.btn:hover{
  cursor: pointer;
  transform: translateY(-3px);
}
.btn:active{
  transform: translateY(1px);
}

$prueba: /* #AB2346 */ /* #CA4C25 */ #FEC601;
// $prueba: /* #AB2346 */ /* #CA4C25 */ #a945c7;

.neon{
  color: black;
  @include neon(0, 0, 25px, $prueba);
  font-weight: 600;
  animation: blink 2s backwards steps(2);
  

  .front{
    animation: blink 2s backwards steps(1);

  }

  .back{
    animation: blink 1s 1 backwards steps(2);

  }

}

@keyframes blink{
  0% {
    opacity:0.1;
    font-weight: 500;

    @include neon(0, 0, 25px,$prueba)  
  }
  
  2% {
    opacity:1;
 
  font-weight: 500;
    @include neon(0, 0, 25px,$prueba)  
  }
  8% {
    opacity:0.1;
  font-weight: 500;

    @include neon(0, 0, 25px,$prueba)  
  }
  9% {
    opacity:1;
 
  font-weight: 500;
    @include neon(0, 0, 25px,$prueba)  
  }
  12% {
    opacity:0.1;
  font-weight: 500;

    @include neon(0, 0, 25px,$prueba)
  }
  20% {
    opacity:1;
 
  font-weight: 500;
    @include neon(0, 0, 25px,$prueba)
  }
  25% {
    opacity:0.3;
  font-weight: 500;

    @include neon(0, 0, 25px,$prueba)
  }
  30% {
    opacity:1;
 
  font-weight: 500;
    @include neon(0, 0, 25px,$prueba)
  }
  
  70% {
    opacity:0.7;
  font-weight: 500;

    @include neon(0, 0, 25px,$prueba)
  }
  
  72% {
    opacity:0.2;
  font-weight: 500;

    @include neon(0, 0, 25px,$prueba)
  }
  
  77% {
    opacity:.9;

  font-weight: 500;
    @include neon(0, 0, 25px,$prueba)
  }
  100% {
    opacity:.9;

  font-weight: 500;
    @include neon(0, 0, 25px,$prueba)
  }
}

#root{
    display: flex;
    flex-direction: column;
    background-color: map-get($colors, background);
    min-height: 100vh; 
}



/*      */


.btn-neon{
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: #fff;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 24px;
  overflow: hidden;
  transition: 0.2s;
}
.btn-neon:hover{
  background: #a945c7;
  box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
  transition-delay: 1s;
}
.btn-neon span{
  position: absolute;
  display: block;
}
.span1{
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent,#a945c7);
}
.btn-neon:hover .span1{
  left: 100%;
  transition: 1s;
}
.span3{
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent,#a945c7);
}
.btn-neon:hover .span3{
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}
.span2{
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg,transparent,#a945c7);
}
.btn-neon:hover .span2{
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}
.span4{
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg,transparent,#a945c7);
}
.btn-neon:hover .span4{
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}