body{
    background-color: #f2fdff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
}

p{
    color: #101935;
}
.navbar{
    /* background-color: #456990; */
    background-color: #dde7e9;
    box-shadow: 0px 0px 0.5px 0.5px black;
    padding: 5px;
    
    display: flex;
    height: 50px;
    width: 100%;
}

.nav-menu{
    padding: 5px;
    flex-grow: 1;
}

.nav-menu-ul{
    margin-left: auto;
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(224, 17, 17, 0.274);
    width: 40%;
    /*height: 100px; */
    list-style-type: none;
}

/* .nav-item{
    
} */

.container{
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f2fdff;
    width: 40px;
    height: 40px;
}
.baseline{
    background-color: purple;
    width: 90%;
    height: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
}


.about{
    margin-left: 1.5em;
    display: grid;
    grid-template-rows: auto auto;
}

.img-container{
    margin-left: auto;
    margin-right: auto;
}

.img-profile{
    height: 100%;
    border-radius: 30%;

}

.txt-presentation::first-letter{
    font-weight: 900;
    font-size:2em;
    text-shadow: -4px 1px 5px #690375;

}

.presentation{
    font-family: 'Cinzel', serif;
    font-weight: bold;
    font-size: 2em;
}

.description{

    font-family: 'Edu SA Beginner', cursive;
    font-size: 1.3em;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
} 

.footer{
    background-color: #456990;
    text-align: center;
    margin-top: auto;
    width: 100%;
    height: 60px;
}
