@import "../sass/variables";
@import "./media.scss";


#contact{
    margin-top: auto;
    padding: 15px 50px;
    min-height: 30vh;
    background: whitesmoke;
    color: black;
    font-weight: 500;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    
    a{
        margin-left: 50px;
        color: black;
        font-weight: 500;
        font-size: 1.7rem;
    }
    
    .links{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .social-networks{
        margin-right: 50px;
        height: 237px;
        width: 493px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        h2{
            font-weight: 400;

        }
        .icons{
            margin-top: 20px;
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

           a{
            margin: auto;

            img{
                height: 70px;
                width: 70px;

            }
           }

        }
    }
}

// @media (max-width: 450px){
  
// }