@media (max-width: 1000px){
    #contact{
        padding: 15px 10px !important;
        justify-content: space-between !important;
        .links{
            margin-left: 0 !important;
            a{
                margin-left: 0;
            }
        }

        .social-networks{
            margin-right: 0 !important;
        }
    }

}

@media (max-width: 790px){
    #contact{
        .links{
            margin-left: 0 !important;
            a{
                margin-left: 0;
                font-size: 1.2rem !important;
            }
        }

        .social-networks{
            margin-right: 0 !important;
        }
    }
}


@media (max-width: 500px){

    #contact{
        flex-direction: column;
        align-items: center;
        height: 45vh;
        .links{
            align-items: center !important;
        }

        .social-networks{
            h2{
                font-size: 2.5rem;
            }

            .icons{
                a{
                    img{
                        height: 50px !important;
                        width: 50px !important;

                    }
                }
            }
        }
    }
}