@import "../sass/variables";

#home{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
 
        .title{
            // border:1px solid green;
            margin: auto 0;
            font-size: 2.9rem;
            text-transform: uppercase;
            text-align: center;
            text-shadow: 0px 0px 20px rgba(245, 245, 245, 0.3);
            position: relative;

            .left-in{
                animation: left-in 3s backwards;
            }

            .right-in{
                animation: right-in 3s backwards;
            }

            p{
                color: rgba(16, 15, 15, 1);
                margin-top: 6px;
                font-size: 1.7rem;
                letter-spacing: 3px;
                font-style: italic;

            }
        }

        .options{
            width: 35%;
            padding: 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            a{
                font-size: 2.2rem;
            }
        }

       
}

@keyframes left-in{
    from{
        margin-left: -75%;
    }
}

@keyframes right-in{
    from{
        margin-right: -75%;
    }
}

@media (max-width: 630px){
    .title{
        text-align: center;
        font-size: 1.9rem;

    }

}

@media (max-width: 290px){
    #home{
        .title{
            text-align: center;
            font-size: 1.7rem;
    
        }
    }

}