@media (max-width: 850px){
    #skills{
        
        .rotated{
            width: 100% !important;
            overflow: hidden;
        }

        
            .skill{
                height: 150px !important;
                width: 150px !important;
            }
        
    }
}